<div class="container">
  <h2>All Users</h2>
  <div class="row" ng-repeat="user in users" style="margin-bottom: 5px;">
    <span class="col-xs-4"  style="margin-top: 8px;" ><a href="#/user/{{user.id}}">{{user.name}}</a></span>
    <span class="col-xs-6"  style="margin-top: 8px;" >{{user.email}}</span>
    <button type="button" class="btn btn-danger col-xs-1" style="margin-left: 10px;" ng-click="deleteUser(user.id);"><i class="ion-trash-b"></i></button>
  </div>
  <div class="row">
    <form ng-submit="addUser()">
      <input type="text" class="col-xs-2 col-xs-offset-3" ng-model="newUser" style="margin-top: 4px;margin-right: 4px;" placeholder="Enter user name">
      <input type="email" class="col-xs-2" ng-model="newUserMail" style="margin-top: 4px;" placeholder="Enter user email">
      <button type="submit" class="btn btn-info col-xs-1" style="margin-left: 10px;"><i class="ion-android-add"></i></button>
    </form>
  </div>
</div>

