<div class="container">
  <h2>User</h2>
  <a href="#/users">Back</a>

  <form class="form-horizontal" role="form" ng-submit="editUser()">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" ng-model="user.name" class="form-control" id="inputEmail3" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" ng-model="user.email" class="form-control" id="inputPassword3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Update</button>
      </div>
    </div>
  </form>
</div>

